{% extends "base.html" %}
{% block main %}
<h1>{{title}}</h1>
<div class="container">
{% for x in albums %}
	{% if loop.index is divisibleby 3 %}
	<div class="row">
		{% endif %}
		<div class =col-md-4>
			<img src="{{ url_for('static', filename='images/'+x.img) }}"/>
			<div class="info">
				{{ x.groupe.name }}</br>
				{{ x.title }}</br>
				{{ x.releaseYear }}</br>
			</div>
		</div>
		{% if loop.index is divisibleby 3 %}
	</div>
		{% endif %}}
	{% endfor %}
</div>
{% endblock %}
